@import url('https: //fonts.googleapis.com/css?family=Poppins: 100,200,400,500,600,700,800,900');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}
:root{
	--clr:  #222327;
}
body{
	display: flex;
	justify-content: center;
	align-items: center ;
	min-height: 100px;
	background: var(--clr);
	flex-wrap: wrap;
}
.header{
	padding: 20px;
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: center;
}
.corp{
	display: flex;
	justify-content: center;
	align-items: center ;
	flex-wrap: wrap;
	min-height: 100vh;
	background: #222327;
	}

.nav{
	width: 400px;
	height: 70px;
	background: #fff;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;

}

.nav ul {
	display: flex;
	width: 350px;
}
.nav ul li {
	position: relative;
	list-style: none;
	width: 70px;
	height: 70px;
	z-index: 1;
}
.nav ul li a {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	text-align: center;
	font-weight: 500;
}
.nav ul li a .icon{
	position: relative;
	display: block;
	line-height: 75px;
	font-size: 1.5em;
	text-align: center;
	transition: 0.5s;
	color: var(--clr);
}
.nav ul li.active a .icon{
	transform: translateY(36px);
}
.nav ul li a .text{
	position: absolute;
	color: var(--clr);
	font-weight: 400;
	font-size: 0.75 em;
	letter-spacing: 0.05em;
	transition:0.5s ;
	opacity: 0;
	transform: translateY(-20px);
}
.nav ul li.active a .text{
	opacity: 1;
	transform: translateY(-10px);
}
.indicator{
	position: absolute;
	top: 50%;
	width: 70px;
	height: 70px;
	background: #29fd53;
	border-radius: 50%;
	border: 6px solid var(--clr);
	transition: 0.5s;
}
.indicator::before{
	content: "";
	position: absolute;
	top: 16%;
	left: -22px;
	width: 20px;
	height: 20px;
	background: transparent;
	border-bottom-right-radius: 20px;
	box-shadow: 1px 10px 0 0 var(--clr);
}
.indicator::after{
	content: "";
	position: absolute;
	top: 16%;
	right: -22px;
	width: 20px;
	height: 20px;
	background: transparent;
	border-bottom-left-radius: 20px;
	box-shadow: -1px 10px 0 0 var(--clr);
}
.nav ul li:nth-child(1).active ~ .indicator{
	transform: translateX(calc(70px * 0));
	--clr:  #222327;
}
.nav ul li:nth-child(2).active ~ .indicator{
	transform: translateX(calc(70px * 1));
	--clr:  #A6FCD8;
}
.nav ul li:nth-child(3).active ~ .indicator{
	transform: translateX(calc(70px * 2));
	--clr: #5151C1;
}
.nav ul li:nth-child(4).active ~ .indicator{
	transform: translateX(calc(70px * 3));
	--clr: #3F6D8C;
}
.nav ul li:nth-child(5).active ~ .indicator{
	transform: translateX(calc(70px * 4));
	--clr: #023809;
}

.card{
	position: relative;
	width: 300px;
	height: 400px;
	margin: 20px;
	border-radius: 20px;
	transition: 0.5s;
	transition-delay:0.5s ;
	display: flex;
	justify-content: flex-start ;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transform: translateX(-100%) translateY(-100%) scale(0);

}
.card.active{
	opacity: 1;
	visibility: visible;
	transform: translateX(0%) translateY(0%) scale(1);

}
.card:hover {
	width: 700px;
	transition-delay: 0s;
}
.card .circle {
	position: absolute;	
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.corp .card .circle::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--clr);
	clip-path: circle(120px at center);
	transition: 0.5s;
}
.card:hover  .circle::before{
	clip-path: circle(400px at center);

}
.card .circle .logo{
	position: relative;
	width:200px ;
	transition: 0.5s;
	transition-delay: 0.5s;
}
.card:hover .circle .logo{
	transform:scale(0) ;
	transition-delay: 0s;

}
.content {
	position: relative;
	width: 50%;
	left: 20%;
	pading: 20px 20px 20px 40px;
	opacity: 0;
	transition: 0.5s;
	visibility: hidden;
}
.card:hover .content{
	left: 5%;
	opacity: 1;
	visibility: visible;
	transition-delay:0.5s ;
}
.content h2{
	color: #fff;
	text-transform: uppercase;
	font-size: 2.5em;
	line-height: 1em;
	
}
.content p{
	color: #fff;
	
}
.content a{
	position: relative;
	color: #111;
	background: #fff;
	padding: 10px 20px;
	border-radius: 10px;
	margin-top: 10px ;
	display: inline-block;
	text-decoration: none;
	font-weight: 500;
}
.card .product_img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%)scale(0);
	height: 300px;
	transition: 0.5s;
	transition-delay: 0s;
}
.card:hover .product_img{
	left: 80%;
	top: 60%;
	transform: translate(-50%,-50%)scale(1);
	transition-delay: 0.5s;
}