ul.noir {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


li {
  float: left;
}

li::marker {
  color:black;
}


li a.menuu {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover.menuu {
  background-color: #ea143e;
}


.red{
	color: red;
}

.rond{
	 list-style-type: circle;
	 color:black;
}
